$ff_montserrat: 'Montserrat', sans-serif;
$ff_lato: 'Lato', sans-serif;
$fs_text_large: 26px;
$fs_text_medium: 14px;
$fs_text_small: 12px;
$fw_text_bold: 700;
$fw_regular: 400;
$cr_title_dark: #635C73;
$cr_text_gray: #323232;
$cr_text_light_gray: #848E97;
$cr_text_white: #fff;
$cr_border_btn: #D5D5D5;
$cr_bg_btn: #F3F3F3;
$cr_bg_blueviolet: #8D81AC;